{% extends "base.html" %}
{% load staticfiles %}

{% block head_addition %}

    
{% endblock head_addition %}

{% block content %}

    <div>
        <!--Carusel baner-->
        <div class="" style="padding-bottom: 20px">
            <div id="carousel-pictures"
                 class="carousel slide data-interval='1000'"
                 data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-pictures" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-pictures" data-slide-to="1"></li>
                <li data-target="#carousel-pictures" data-slide-to="2"></li>
                <li data-target="#carousel-pictures" data-slide-to="3"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {% for image in images %}
                <div
                    {% if forloop.first %}
                        class="item active"
                    {% else %}
                        class="item"
                    {% endif %}
                    >
                    <img class="img-responsive img-rounded center-block" src='{{ image.reference.url }}'
                         alt="{{ image.description }}"/>
        
                  <div class="carousel-caption">
                    {{ image.description }}
                  </div>
                </div>
                
                {% endfor %}
        
                    <div class="item active">
                        <img class="img-responsive center-block" src="{% static 'img/baner/baner-feminelle-other.jpg' %}"
                             alt="Одежда ТМ Feminelle"/>
                    </div>
                    
                    <div class="item">
                        <img class="img-responsive center-block" src="{% static 'img/baner/baner-feminelle-spring.jpg' %}"
                             alt="Весення коллекция для беременных от ТМ Feminelle"/>
                    </div>
                    
                    <div class="item">
                        <img class="img-responsive center-block" src="{% static 'img/baner/baner-feminelle-spring-1.jpg' %}"
                             alt="Ваша стильная беременность весной от ТМ Feminelle"/>
                    </div>
                    
                    <div class="item">
                        <img class="img-responsive center-block" src="{% static 'img/baner/baner-feminelle-summer.jpg' %}"
                             alt="Летняя коллекция для беременных от ТМ Feminelle"/>
                    </div>
              </div>
            
              <!-- Controls -->
              <a id='carusel_left' class="left carousel-control" href="#carousel-pictures" role="button" data-slide="prev">
                <i class="fa fa-angle-double-left fa-2x" aria-hidden="true" style="position: relative; top: 140px"></i>
                <span class="sr-only">Предыдущий</span>
              </a>
              <a id='carusel_right' class="right carousel-control" href="#carousel-pictures" role="button" data-slide="next">
                <i class="fa fa-angle-double-right fa-2x" aria-hidden="true" style="position: relative; top: 140px"></i>
                <span class="sr-only">Следующий</span>
              </a>
            </div>
        </div>
        
        <!--Novelties short list-->
        <div class="">
            <div id="novelties" class="panel panel-primary">
                <div class="panel-heading">
                    <a id="novelties_panel_heading" class="btn btn-success" href="{% url 'product_class' product_class='novelties' %}">
                        <h1 class="panel-title">Новинки</h1>
                    </a>
                </div>
                <div class="panel-body">
                {% for product in novelties_products %}
                  <div class="col-sm-3"> 
                    <a id="novelties_img_{{ product.id }}" href="{% url 'product' pk=product.id %}">
                        <img class="img-responsive img-rounded"
                             src='{{ product.image.url }}' style="height: 250px"/>
                    </a>
                    
                    <div id='block_info'>
                        
                        <a id="novelties_ref_{{ product.id }}" href="{% url 'product' pk=product.id %}">
                            <h5 id="product_name">{{ product }}</h5>
                        </a>
                        
                        <h6 id="product_price"><b>Цена:</b>
                            
                            {% if product.promotioin_modifier %}
                                <s>{{ product.price }} грн</s>
                                <mark>{{ product.promotioin_modifier }} грн</mark>
                            {% else %}
                                {{ product.price }} грн
                            {% endif %}
                        </h6>
                    </div> <!--block info-->
                  </div>
                {% empty %}
                    <h3>Не найдено</h3>
                {% endfor %}
                </div>
            </div>
        </div>
        
        <!--Promo shoort list-->
        <div class="">
            <div id="promo" class="panel panel-primary">
                <div class="panel-heading">
                    <a id="promo_panel_heading" class="btn btn-success" href="{% url 'product_class' product_class='promo' %}">
                        <h1 class="panel-title">Акция</h1>
                    </a>
                </div>
                <div class="panel-body">
                {% for product in promo_products %}
                  <div class="col-sm-3"> 
                    <a id="promo_img_{{ product.id }}" href="{% url 'product' pk=product.id %}">
                        <img class="img-responsive img-rounded"
                             src='{{ product.image.url }}' style="height: 250px"/>
                    </a>
                    
                    <div id='block_info'>
                        
                        <a id="promo_ref_{{ product.id }}" href="{% url 'product' pk=product.id %}">
                            <h5 id="product_name">{{ product }}</h5>
                        </a>
                        
                        <h6 id="product_price"><b>Цена:</b>
                            
                            {% if product.promotioin_modifier %}
                                <s>{{ product.price }} грн</s>
                                <mark>{{ product.promotioin_modifier }} грн</mark>
                            {% else %}
                                {{ product.price }} грн
                            {% endif %}
                        </h6>
                    </div> <!--block info-->
                  </div>
                {% empty %}
                    <h3>Не найдено</h3>
                {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- News short list-->
        <div class="">
            <div id="promo" class="panel panel-primary">
                <div class="panel-heading">
                    <a id="promo_panel_heading" class="btn btn-success" href="{% url 'news' %}">
                        <h1 class="panel-title">Новости</h1>
                    </a>
                </div>
                <div class="panel-body">
                <table class="table">
                <tbody>
                {% for record in news %}
                    <tr>
                        <td>
                            <h2>{{ record.title }}</h2>
                            <p>
                                {{ record.text }}
                            </p>
                            
                            <div style="text-align: right">{{ record.author }} ({{ record.date }})</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
        </div>
    
    </div>

{% endblock content %}