{% extends "base.html" %}
{% load staticfiles %}

{% block head_addition %}

    
{% endblock head_addition %}

{% block content %}

    <div>
        <!--Carusel baner-->
        <div id="carousel-pictures" class="carousel slide data-interval='1000'" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-pictures" data-slide-to="1" class="active"></li>
            <li data-target="#carousel-pictures" data-slide-to="2"></li>
            <li data-target="#carousel-pictures" data-slide-to="3"></li>
            <li data-target="#carousel-pictures" data-slide-to="4"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            {% for image in images %}
            <div
                {% if forloop.first %}
                    class="item active"
                {% else %}
                    class="item"
                {% endif %}
                >
                <img class="img-responsive img-rounded center-block" src='{{ image.reference.url }}'
                     alt="{{ image.description }}"/>
    
              <div class="carousel-caption">
                {{ image.description }}
              </div>
            </div>
            
            {% endfor %}
    
                <div class="item active">
                    <img class="img-responsive center-block" src="{% static 'img/baner/baner-feminelle-other.jpg' %}"
                         alt="Одежда ТМ Feminelle"/>
                </div>
                
                <div class="item">
                    <img class="img-responsive center-block" src="{% static 'img/baner/baner-feminelle-spring.jpg' %}"
                         alt="Весення коллекция для беременных от ТМ Feminelle"/>
                </div>
                
                <div class="item">
                    <img class="img-responsive center-block" src="{% static 'img/baner/baner-feminelle-spring-1.jpg' %}"
                         alt="Ваша стильная беременность весной от ТМ Feminelle"/>
                </div>
                
                <div class="item">
                    <img class="img-responsive center-block" src="{% static 'img/baner/baner-feminelle-summer.jpg' %}"
                         alt="Летняя коллекция для беременных от ТМ Feminelle"/>
                </div>
          </div>
        
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-pictures" role="button" data-slide="prev">
            <i class="fa fa-angle-double-left fa-2x" aria-hidden="true"></i>
            <span class="sr-only">Предыдущий</span>
          </a>
          <a class="right carousel-control" href="#carousel-pictures" role="button" data-slide="next">
            <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
            <span class="sr-only">Следующий</span>
          </a>
        </div>
    
        <!--VK comments-->
        <!-- Put this script tag to the <head> of your page -->
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
        
        <script type="text/javascript">
          VK.init({apiId: API_ID, onlyWidgets: true});
        </script>
        
        <!-- Put this div tag to the place, where the Comments block will be -->
        <div id="vk_comments"></div>
        <script type="text/javascript">
        VK.Widgets.Comments("vk_comments", {limit: 5, width: "665", attach: "*"});
        </script>
    
    </div>

{% endblock content %}