 {% load staticfiles %}
 
<div class="list-group"> 
     
     <a id="product_class_novelties" href="{% url 'product_class' product_class='novelties' %}" class="list-group-item">Новинки
     <span class="badge">{{ badges_info.novelties }}</span></a>
     
     <a  id="product_class_promo" href="{% url 'product_class' product_class='promo' %}" class="list-group-item">Распродажа
     <span class="badge">{{ badges_info.promo }}</span></a>
     
     <a  id="product_class_dress_sarafan" href="{% url 'product_class' product_class='dress,sarafan' %}" class="list-group-item">Платья, сарафаны
     <span class="badge">{{ badges_info.dress_sarafan }}</span></a>

     <a  id="product_class_pants" href="{% url 'product_class' product_class='pants' %}" class="list-group-item">Брюки
     <span class="badge">{{ badges_info.pants }}</span></a>

     <a  id="product_class_pants" href="{% url 'product_class' product_class='shorts' %}" class="list-group-item">Шорты, бриджи, капри
     <span class="badge">{{ badges_info.shorts }}</span></a>
     
     <a  id="product_class_jeans" href="{% url 'product_class' product_class='jeans' %}" class="list-group-item">Джинсы
     <span class="badge">{{ badges_info.jeans }}</span></a>
          
     <a  id="product_class_skirt" href="{% url 'product_class' product_class='skirt' %}" class="list-group-item">Юбки
     <span class="badge">{{ badges_info.skirt }}</span></a>
          
     <a  id="product_class_blouse_cardigan" href="{% url 'product_class' product_class='blouse,cardigan' %}" class="list-group-item">Блузы, джемперы
     <span class="badge">{{ badges_info.blouse_cardigan }}</span></a>
          
     <a  id="product_class_tunic" href="{% url 'product_class' product_class='tunic' %}" class="list-group-item">Туники
     <span class="badge">{{ badges_info.tunic }}</span></a>
          
     <a  id="product_class_underwear" href="{% url 'product_class' product_class='underwear' %}" class="list-group-item">Белье
     <span class="badge">{{ badges_info.underwear }}</span></a>
          
     <a  id="product_class_sport" href="{% url 'product_class' product_class='sport' %}" class="list-group-item">Спортивная одежда
     <span class="badge">{{ badges_info.sport }}</span></a>
          
     <a  id="product_class_warm" href="{% url 'product_class' product_class='warm' %}" class="list-group-item">Теплая одежда
     <span class="badge">{{ badges_info.warm }}</span></a>
          
     <a  id="product_class_coveralls" href="{% url 'product_class' product_class='coveralls' %}" class="list-group-item">Комбинезоны
     <span class="badge">{{ badges_info.coveralls }}</span></a>
     
     <a  id="product_class_coat_poncho_jacket" href="{% url 'product_class' product_class='coat,poncho,jacket' %}" class="list-group-item">Верхняя одежда
     <span class="badge">{{ badges_info.coat_poncho_jacket }}</span></a>
     
     <a  id="product_class_all" href="{% url 'productsAll' %}" class="list-group-item">Все вещи
     <span class="badge">{{ badges_info.all }}</span></a>

</div>
<div>
     <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
     
     <!-- VK Widget -->
     <div class="container" id="vk_groups" style="padding-left: 0px"></div>
     <script type="text/javascript">
     VK.Widgets.Group("vk_groups", {mode: 0, width: "230", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 60394241);
     </script>
</div>
