{% extends "base.html" %}
{% load staticfiles %}

{% block head_addition %}

    
{% endblock head_addition %}

{% block content %}
    
    
    <h1>Таблица размеров</h1>
    
    <p>
        Основные параметры размеров для одежды: объем груди, объем бедер и рост.
    </p>
    
    <h3>Размеры:</h3>
    
    <table id='sizes_table' class="table">
        <!-- HEADER -->
        <!-- National -->
        <tr>
            
        </tr>
            <th>В России/на Украине</th>
            <th>42</th> <th>44</th> <th>46</th> <th>48</th> <th>50</th> <th>52</th> <th>54</th> <th>56</th> <th>56</th>
        <tr>
            <th>В США</th>
            <td>XXS</td> <td>XS</td> <td>S</td> <td>M</td> <td>L</td> <td>XL</td> <td>XXL</td> <td>3XL</td> <td>4XL</td>
        </tr>
        
        <tr>
            <th>В Германии</th>
            <td>36</td> <td>38</td> <td>40</td> <td>42</td> <td>44</td> <td>46</td> <td>48</td> <td>50</td> <td>52</td>
        </tr>
        
        <tr>
            <th>В Англии</th>
            <td>4</td> <td>6</td> <td>8</td> <td>10</td> <td>12</td> <td>14</td> <td>16</td> <td>18</td> <td>20</td>
        </tr>
        
        <tr>
            <th>Во Франции</th>
            <td>36</td> <td>38</td> <td>40</td> <td>42</td> <td>44</td> <td>46</td> <td>48</td> <td>50</td> <td>52</td>
        </tr>
        
        <tr>
            <th>В Италии</th>
            <td>36</td> <td>38</td> <td>40</td> <td>42</td> <td>44</td> <td>46</td> <td>48</td> <td>50</td> <td>52</td>
        </tr>
        
        <!-- Parameters -->
        
        <tr>
            <th>рост (см)</th>
            <td>160 - 163</td> <td>162 - 165</td> <td>164 - 167</td> <td>166 - 169</td> <td>168 - 171</td> <td>170 - 173</td> <td>172 - 175</td> <td>174 - 177</td> <td>176 - 179</td> 
        </tr>
        
        <tr>
            <th>обхват шеи (см)</th>
            <td>34</td> <td>35</td> <td>36</td> <td>37</td> <td>38</td> <td>39</td> <td>40</td> <td>41</td> <td>42</td>
        </tr>
        
        <tr>
            <th>ширина плеч (см)</th>
            <td>36</td> <td>37</td> <td>38</td> <td>39</td> <td>40</td> <td>41</td> <td>42</td> <td>43</td> <td>44</td>
        </tr>
        
        <tr>
            <th>обхват груди</th>
            <td>82 - 85</td> <td>86 - 89</td> <td>90 - 93</td> <td>94 - 97</td> <td>98 - 101</td> <td>102 - 105</td> <td>106 - 109</td> <td>110 - 113</td> <td>114 - 117</td> 
        </tr>
        
        <tr>
            <th>обхват талии (см)</th>
            <td>58 - 62</td> <td>61 - 65</td> <td>64 - 68</td> <td>67 - 71</td> <td>70 - 74</td> <td>73 - 77</td> <td>76 - 80</td> <td>79 - 83</td> <td>82 - 86</td> 
        </tr>
        
        <tr>
            <th>обхват бедер (см)</th>
            <td>86 - 90</td> <td>89 - 93</td> <td>92 - 96</td> <td>95 - 99</td> <td>98 - 102</td> <td>101 - 105</td> <td>104 - 108</td> <td>107 - 111</td> <td>110 - 114</td> 
        </tr>
        
        <tr>
            <th>длина руки (см)</th>
            <td>72.5</td> <td>75</td> <td>77.5</td> <td>80</td> <td>82.5</td> <td>85</td> <td>87.5</td> <td>90</td> <td>92.5</td>
        </tr>
        
        <tr>
            <th>длина ноги от талии (см)</th>
            <td>101 - 104</td> <td>102 - 105</td> <td>103 - 106</td> <td>104 - 107</td> <td>105 - 108</td> <td>106 - 109</td> <td>107 - 110</td> <td>108 - 111</td> <td>109 - 112</td> 
        </tr>
        
    </table>
 
{% endblock content %}