body {
  padding-top: 10px;
  background: center;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.input-group {
  padding-bottom: 15px;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

.navbar-default {
  background-color: gold;
  font-size: large;
}

a.list-group-item, .panel {
  background-color: azure;
  font-size: large;
}

#sizes_table {
  font-size: large;
}